.content {
  width: 95%;
  max-width: 60rem;
  margin: var(--size-8) auto;
  font-size: var(--size-5);
  line-height: var(--size-8);
  border: 7px solid var(--color-main-bg);
  border-radius: 30px;
  padding: var(--size-4);
}

.content p {
  color: black;
}
.content img {
  width: 100%;
}
.content .image {
  margin: var(--size-4) auto;
  width: 100%;
  max-width: 600px;
}

@media (min-width: 768px) {
  .content {
    padding: var(--size-8);
  }
}
